.nav-bar{
    background-color:rgb(35, 37, 54);
}
nav > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
}
.nav-bar > .container{
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    margin-left: 556px;
    width: 305px;
    justify-content: space-between;
}
/* a.subscribe-block{
   
} */
.subscribe{
    background: rgb(255, 255, 255);
    padding: 16px 47.4px; 
    text-decoration: none;
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}